.header{
  color: #F15A29;
  text-align: center;
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
  text-decoration-line: underline;
}
.container-fluid{
  background: url(../../assets/background.jpeg);
  background-attachment: fixed;
  padding: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

#userprofile{
  color: #F15A29;
  font-size: 13px;
  padding-left: 120px;
}
.ul{
  font-size: 22px;
  font-family: 'Berkshire Swash', cursive;
}
.names{
  font-size: 20px;
  color: #F15A29;
  font-family: 'Oleo Script', cursive;
}
#emailocation{
  font-size: 13px;
}
#email{
  padding-left:80px; 
  width: 300px;
}
#labels{
  font-size: 15px;
  font-family: 'Oleo Script', cursive;
}
#view{
  font-size: 17px;
  font-family: 'Oleo Script', cursive;
}
.panel{
  background: url(../../assets/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.repos{
  font-family: 'Oleo Script', cursive;
  font-size: 23px;
  color: black;
  text-align: center;
  
}
#body{
  background: url(../../assets/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; 
}
#heading{
  background: black;
}
.reposs{
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
  text-decoration-line: underline;
}
.description{
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
}
.buttons{
  font-size: 18px;
  font-family: 'Oleo Script', cursive;
}